<%= stylesheet_link_tag "contact" %>

<div class="contact">
    <div class="contactContent">
        <div class="info">

            <div class="heading">
                <h3>Contact Us</h3>
            </div>
            <div class="contact_info">
                <div class="phone"><i class="bi bi-telephone-fill"></i>7375838577</div>
                <div class="mail_me"><i class="bi bi-envelope-fill"></i>zuluzulu173@gmail.com</div>
                <div class="mylocation"><i class="bi bi-geo-alt-fill"></i>1234 Near Gandhi Market, Alwar 301001 Rajasthan</div>
            </div>
            
            </div>


            <form action="">
                    <div class="form_fld">
                        <label for="">First Name</label>
                        <input type="text">
                        <label for="">Last Name</label>
                        <input type="text">
                        <label for="">Email</label>
                        <input type="email">
                        <label for="">company</label>
                        <input type="text">
                        <label for="">Message</label>
                        <textarea name=""></textarea>
                        <div class="submit_button">
                            <div class="btn">Submit</div>
                        </div>

                    </div>

            </form>
        </div>

    </div>

</div> 